source http://nuget.org/api/v2

group Build

  source http://nuget.org/api/v2

  nuget Fake

group Test

  framework: >= net45
  source http://nuget.org/api/v2

  nuget FsCheck
  nuget FsCheck.Xunit
  nuget Unquote
  nuget xunit
  nuget xunit.runner.console
