type project
id Aether
title Aether
description Optics for F#
tags lens prism isomorphism optic
version 8.0.0-b7
authors Andrew Cherry, Marcus Griep
owners Andrew Cherry
projectUrl https://github.com/xyncro/aether
licenseUrl https://github.com/xyncro/aether/blob/master/LICENSE.md
requireLicenseAcceptance false
copyright Copyright Xyncro Ltd 2014
